@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
    @apply px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20
  }
  

  .product-container{
    @apply grid gap-8  mb-8 md:grid-cols-2 lg:grid-cols-3
  }
  
  .btn-primary{
    @apply  font-medium  transition duration-200  shadow-md  md:mb-0  px-4 py-2 md:px-8 md:py-3 m-2 text-lg rounded-full border-transparent border-2  text-gray-700 hover:bg-cyan-400 bg-cyan-200
  }

  .btn-outlined{
    @apply  font-medium  transition duration-200  shadow-md  md:mb-0  px-4 py-2 md:px-8 md:py-3 m-2 text-lg rounded-full  text-gray-700 hover:bg-cyan-400 hover:border-transparent border-2 border-cyan-200
  }
  
  .active{
    @apply font-medium tracking-wide text-cyan-600 transition-colors duration-200
  }
  
  .default{
    @apply font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-cyan-600
  }
@layer utilities{
  .title-text{
    @apply animate-text bg-gradient-to-r from-cyan-500 via-purple-500 to-cyan-400 bg-clip-text text-transparent font-black
  }
}